Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi/
._d/
._ncdi/
*.a
*.cm*
*.o
*.so
examples/Makefile.speex2wav
examples/Makefile.wav2speex
examples/speex2wav
examples/wav2speex
